%hr
.row
  .col-xs-6.col-sm-6.col-md-6.col-lg-6
    .pull-left
      %i.fa.fa-copyright EnergyX Fitness, LLC
  .col-xs-6.col-sm-6.col-md-6.col-lg-6
    .pull-right
      %ul.social-media
        %li.phone
          %a{href: "https://instagram.com/givetocure/", class: 'nav-link'}
            %i.fa.fa-phone
        %li.map
          %a{href: "https://instagram.com/givetocure/", class: 'nav-link'}
            %i.fa.fa-map-o
        %li.facebook
          %a{href: "https://www.facebook.com/givetocure", class: 'nav-link'}
            %i.fa.fa-facebook
        %li.twitter
          %a{href: "https://twitter.com/givetocure", class: 'nav-link'}
            %i.fa.fa-twitter
        %li.linkedin
          %a{href: "https://www.linkedin.com/company/give-to-cure", class: 'nav-link'}
            %i.fa.fa-linkedin
        %li.instagram
          %a{href: "https://instagram.com/givetocure/", class: 'nav-link'}
            %i.fa.fa-instagram