body#static_pages_home{
  /* Carousel */
  #jumbo_logo {
    width: 50%;
  }

  #quote-carousel {
      /* Control buttons  */
      /* Previous button  */
      /* Next button  */
      /* Changes the position of the indicators */
      /* Changes the color of the indicators */
  }
  #quote-carousel .carousel-control {
      background: none;
      color: #CACACA;
      font-size: 2.3em;
      text-shadow: none;
      margin-top: 30px;
  }
  #quote-carousel .carousel-control.left {
      left: -60px;
  }
  #quote-carousel .carousel-control.right {
      right: -60px;
  }
  #quote-carousel .carousel-indicators {
      right: 50%;
  }
  #quote-carousel .carousel-indicators li {
      width: 75px;
      height: 75px;
      margin: 5px;
      cursor: pointer;
      border: 4px solid #CCC;
      border-radius: 50px;
      opacity: 0.4;
      overflow: hidden;
      transition: all 0.4s;
  }
  #quote-carousel .carousel-indicators .active {
      background: #333333;
      width: 128px;
      height: 128px;
      border-radius: 100px;
      border-color: #f33;
      opacity: 1;
      overflow: hidden;
  }
  .carousel-inner {
      min-height: 300px;
  }
  .item blockquote {
      border-left: none;
      margin: 0;
  }
  .item blockquote p:before {
      content: "\f10d";
      font-family: 'Fontawesome';
      float: left;
      margin-right: 10px;
  }

  .homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
  }

  .btn {
    margin: 10px;
  }

  #BgDiv1 {
    background: url(asset-path('trx-lean.jpg')) no-repeat center center fixed;
    background-size: 100vw auto;
    min-height: 50vh;
  }

  #BgDiv2 {
    background: url(asset-path('yoga_wide.jpg')) no-repeat center center fixed;
    background-size: 100vw auto;
    min-height: 50vh;
  }

  #BgDiv3 {
    background: url(asset-path('group.jpg')) no-repeat center center fixed;
    background-size: 100vw auto;
    min-height: 50vh;
  }
  /* end home selector */

    #Classes {
    .panel-image {
      position: relative;
      overflow: hidden;
      padding-bottom: 50%;
    }

    .panel-image img.panel-image-preview {
      width: 100%;
      border-radius: 4px 4px 0px 0px;
      max-height: 250px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }

    .panel-body {
      overflow: hidden;
    }
  }
}

#Tools {
  background: url(asset-path('water_rower_background.png')) no-repeat center center fixed;
  background-size: 100vw;
}

#CallOutPanel {
  margin: 10vh 0vh 45vh 0vh;
}

.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative;
}

.no-video .video-container video,
.touch .video-container video {
  display: none;
}

.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important;
}

.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000;
}

.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute;
}

.video-container .filter {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
}

.video-container .title-container {
  z-index: 1000;
  position: absolute;
  top: 35%;
  text-align: center;
  color: #fff;
}

.video-container .description .inner {
  font-size: 2em;
  font-weight: bold;
  width: 75%;
  margin: 0 auto;
}

.video-container .link {
  position: absolute;
  bottom: 3em;
  width: 100%;
  text-align: center;
  z-index: 1001;
  font-size: 2em;
  color: #fff;
}

.video-container .link a {
  color: #fff;
}

.video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0;
}

.video-container video.fillWidth {
  width: 100%;
}
