.section-header {
  padding-top: 15px;
  padding-bottom: 30px;
  color: #2F7CC0;
  font-weight: bold;
}

body#static_pages_home{
  .homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
  }

  #CalendarAddon {
    font-weight: bold;
    color: #4CAF50;
    border-color: #fff;
    background-color: #fff;
  }

  #BgDiv1 {
    background: url(asset-path('trx-lean.jpg')) no-repeat center center fixed;
    background-size: 100vw auto;
    min-height: 40vh;
  }

  #BgDiv2 {
    background: url(asset-path('yoga_wide.jpg')) no-repeat center center fixed;
    background-size: 100vw auto;
    min-height: 40vh;
  }

  #BgDiv3 {
    background: url(asset-path('group.jpg')) no-repeat center center fixed;
    background-size: 100vw auto;
    min-height: 40vh;
  }
}

#Schedule {
  h4 {
    color: #2F7CC0;
  }
}

#jumbo_logo {
  width: 33%;
}

#Tools {
  background: url(asset-path('water_rower_background.png')) no-repeat center center fixed;
  background-size: 100vw;
}

#CallOutPanel {
  margin: 10vh 0vh 45vh 0vh;
}

#Classes, #Coaches, #Results, #Social {
  margin: 8vh 0vh 15vh 0vh;
}

.title-container .btn {
  margin: 20px;
}

.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative;
}

.no-video .video-container video,
.touch .video-container video {
  display: none;
}

.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important;
}

.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000;
}

.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute;
}

.video-container .filter {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
}

.video-container .title-container {
  z-index: 1000;
  position: absolute;
  top: 35%;
  width: 100%;
  text-align: center;
  color: #fff;
}

.video-container .description .inner {
  font-size: 1em;
  width: 45%;
  margin: 0 auto;
}

.video-container .link {
  position: absolute;
  bottom: 3em;
  width: 100%;
  text-align: center;
  z-index: 1001;
  font-size: 2em;
  color: #fff;
}

.video-container .link a {
  color: #fff;
}

.video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0;
}

.video-container video.fillWidth {
  width: 100%;
}

#fade-quote-carousel.carousel {
  padding-bottom: 60px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: #e84a64;
  border: none;
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
}
#fade-quote-carousel .profile-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100px;
}