body#static_pages_home{
  /* Carousel */
  #jumbo_logo {
    width: 50%;
  }

  #Results {
    min-height: 60vh;
  }

  .homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
  }

  .btn {
    margin: 10px;
  }

  .schedule-panel {
    min-height: 280px;
  }

  #BgDiv1 {
    background: url(asset-path('trx-lean.jpg')) no-repeat center center fixed;
    background-size: 100vw auto;
    min-height: 50vh;
  }

  #BgDiv2 {
    background: url(asset-path('yoga_wide.jpg')) no-repeat center center fixed;
    background-size: 100vw auto;
    min-height: 50vh;
  }

  #BgDiv3 {
    background: url(asset-path('group.jpg')) no-repeat center center fixed;
    background-size: 100vw auto;
    min-height: 50vh;
  }

  #BgDiv4 {
    background: url(asset-path('background_4.jpg')) no-repeat center center fixed;
    background-size: 100vw auto;
    min-height: 50vh;
  }

  /* end home selector */

  #Classes {
  .panel-image {
    position: relative;
    overflow: hidden;
    padding-bottom: 50%;
  }

  .panel-image img.panel-image-preview {
    width: 100%;
    border-radius: 4px 4px 0px 0px;
    max-height: 250px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .panel-body {
    overflow: hidden;
  }
}

  #Faq {
    .panel-heading a {
      text-decoration: none;
    }

    .panel-heading a:after {
      font-family:'Glyphicons Halflings';
      content:"\e114";
      color: #fff;
      padding-left: 10px;
      float: right;
    }

    .panel-heading a.collapsed:after {
      content:"\e080";
    }
  }
}

#Tools {
  background: url(asset-path('water_rower_background.png')) no-repeat center center fixed;
  background-size: 100vw;
}

#CallOutPanel {
  margin: 10vh 0vh 45vh 0vh;
}

.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative;
}

.no-video .video-container video,
.touch .video-container video {
  display: none;
}

.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important;
}

.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000;
}

.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute;
}

.video-container .filter {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
}

.video-container .title-container {
  z-index: 1000;
  position: absolute;
  top: 35%;
  text-align: center;
  color: #fff;
}

.video-container .description .inner {
  font-size: 2em;
  font-weight: bold;
  width: 75%;
  margin: 0 auto;
}

.video-container .link {
  position: absolute;
  bottom: 3em;
  width: 100%;
  text-align: center;
  z-index: 1001;
  font-size: 2em;
  color: #fff;
}

.video-container .link a {
  color: #fff;
}

.video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0;
}

.video-container video.fillWidth {
  width: 100%;
}
